<?xml version="1.0" encoding="utf-8"?>
<manifest package="de.klassewirsingen.app"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.App"
        android:supportsRtl="true"
        android:allowBackup="true"
        android:fullBackupContent="true">

        <activity
            android:name=".app.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.App">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="https"/>
                <data android:scheme="http"/>
                <data android:pathPattern="(?i)^/(?!anmeldung-tickets/anmeldung)(?!.*\.(jpe?g|jpe|png|gif|pdf|mp3)$).*$"/>
                <data android:host="www.klasse-wir-singen.de"/>
                <data android:host="klasse-wir-singen.de"/>
            </intent-filter>

        </activity>

    </application>

</manifest>